@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Source Serif Pro", serif;
    font-weight: 300;
    background-color: #ece3dd;
    color: #5a3939;
  }
}

#hero .swiper {
  height: 90vh;
}

.bg-cover:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(61, 49, 46, 0.3) 0%, rgba(60, 39, 34, 0.2) 30%, rgba(60, 39, 34, 0.1) 80%);
  z-index: -1;
}

header.fixed {
  background: #f4f1ef;
  color: #5a3939;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  transform: translate(0, -200px);
}

header.fixed img {
  height: 60px;
}

header.fixed nav {
  padding: 0.6rem 0;
}

header.in-view {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  transform: translate(0, 0);
}
#features {
  background-image: url("../img/features-image.jpg");
  background: no-repeat center center;
  background-image: none;
  background-size: auto;
  background-size: cover;
}

#features.features-section {
  background-image: url("../img/features-image.jpg");
}

#features .material-icons {
  font-size: 40px;
}

#price.price-section {
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll !important;
}

.service {
  margin-right: 0.5em;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  line-height: 1;
}

.years15-section:after {
  background-color: #5a3939;
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  top: 0;
  z-index: 2;
}

.years15-section:after {
  left: 30%;
}

.contacts-section:after {
  background-color: #5a3939;
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  top: 0;
  z-index: 2;
}

.contacts-section:after {
  right: 30%;
}

.detail-price {
  margin: 0;
  display: table;
  padding-bottom: 10px;
}

.price-name {
  position: relative;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  padding: 0 2px 0 0;
  vertical-align: bottom;
}

.price-name h5,
.price-number h5 {
  position: relative;
  line-height: 1;
  margin-bottom: 0;
  text-align: left;
}

.price-dots {
  position: relative;
  display: table-cell;
  height: 3px;
  width: 98%;
  z-index: 1;
  background-image: radial-gradient(circle closest-side, #878889 99%, transparent 100%);
  background-position: 50% 100%;
  background-size: 5px 2px;
  background-repeat: repeat-x;
}

.price-number {
  display: table-cell;
  width: 1%;
  padding: 0 0 0 4px;
  white-space: nowrap;
  vertical-align: bottom;
}

.price-txt p {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}

#promo-1:before,
#promo-1:after {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  z-index: 2;
}

#promo-1:before {
  background-image: url(../img/promo-1.jpg);
  width: 49%;
  height: 90%;
  top: 5%;
}

#promo-1:after {
  background-image: url(../img/promo-2.jpg);
  width: 49%;
  height: 100%;
  top: 0;
  left: 51%;
}

@media (max-width: 767px) {
  .years15-section::after,
  .contacts-section:after {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 460px) {
  .price-name {
    white-space: normal;
  }
}

@media (max-width: 767px) {
  #promo-1:before {
    top: 0;
    height: 340px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #promo-1:after {
    top: 340px;
    height: 680px;
    width: 100%;
    left: 0%;
  }
}
